{% extends 'dash/base.html' %}
{% block content %}
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">


        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row justify-content-center">

        <div class="col-xl-8 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-2">Allow users to input data values with 3 different entry types</h3>
                            <h3 class="mb-0">Upload From CSV File </h3>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <form method="post" action="." enctype="multipart/form-data">
                            {% csrf_token %}
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <label class="form-control-label" for="file_input">Upload File</label>
                                        <input type="file" id="file_input" class="form-control" name="upload_file"
                                            placeholder="Select file to upload" accept=".csv">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-4 text-right">
                            <button type="submit" class="btn  btn-primary">Upload</button>
                        </div>

                    </form>


                   {% if has_content %}
                    <div class="card-header border-0">
                        <h3 class="mb-0">Upload File Info </h3>
                    </div>
                    <!-- Light table -->
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort" data-sort="name">Project</th>
                                    <th scope="col" class="sort" data-sort="budget">Budget</th>
                                    <th scope="col" class="sort" data-sort="status">Status</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                {% for row in content %}

                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">

                                            <div class="media-body">
                                                <span class="name mb-0 text-sm">Black Dashboard</span>
                                            </div>
                                        </div>
                                    </th>

                                    <td>
                                        <span class="badge badge-dot mr-4">
                                            <span class="status">delayed</span>
                                        </span>
                                    </td>

                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="completion mr-2">72%</span>
                                            <div>
                                                <div class="progress">
                                                    <div class="progress-bar bg-danger" role="progressbar"
                                                        aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"
                                                        style="width: 72%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                   {% endif %}


                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}