{% extends 'dash/base.html' %}
{% block content %}
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">


        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row justify-content-center">

        <div class="col-xl-8 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-2">Allow users to input data values with 3 different entry types</h3>
                            <h3 class="mb-0">Upload From CSV File </h3>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <form method="post" action="." enctype="multipart/form-data">
                            {% csrf_token %}
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <label class="form-control-label" for="file_input">Upload File</label>
                                        <input type="file" id="file_input" class="form-control" name="upload_file"
                                            placeholder="Select file to upload" accept=".csv">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-4 text-right">
                            <button type="submit" class="btn  btn-primary">Upload</button>
                        </div>

                    </form>


                   {% if has_content %}
                    <div class="card-header border-0">
                        <h3 class="mb-0">Hello {{request.user.username}} you bearer token is {{token.key}} </h3>
                    </div>
                 
                   {% endif %}


                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}